In [1]:
import numpy as np
import pandas as pd
import csv

from matplotlib import pyplot as plt
import matplotlib.lines as lines
%matplotlib inline

In [2]:
df_r = pd.read_csv('fw1pilot_r.csv')
df_r.head()

,_id,topicid,docid,usrid,researcher_name1,bio_url1,gender1,google_scholar_url1,h_index1,researcher_name2,...,google_scholar_url2,h_index2,researcher_name3,bio_url3,gender3,google_scholar_url3,h_index3,comments,document_id,noentity
0,63a3eda6a824643b7283a43e,sort_P001,1,user01,William Hersh,https://www.ohsu.edu/people/william-r-hersh-md,he,https://scholar.google.com/citations?user=xFn_...,77.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"aka ""William R. Hersh"" and ""Bill Hersh""",19c7571b-948a-4aa2-90c4-ba55206b8444,NaN
1,63a3f299a824643b7283a442,sort_P001,2,user01,William R. Hersh,https://www.ohsu.edu/people/william-r-hersh-md,he,https://scholar.google.com/citations?user=xFn_...,77.0,Robert A. Greenes,...,https://scholar.google.com/citations?user=Njry...,53.0,NaN,NaN,NaN,NaN,NaN,Greenes is not really an IR person but has IR ...,d40ba8f7-7f55-4118-8e7a-cfdcdd8598fc,NaN
2,63a3f8bba824643b7283a446,sort_P001,3,user01,Kira Radinsky,https://digitalhealth.med.brown.edu/people/kir...,she,https://scholar.google.com/citations?user=ddBA...,26.0,David Carmel,...,https://scholar.google.com/citations?user=LI8J...,48.0,Aya Soffer,https://researcher.watson.ibm.com/researcher/v...,she,https://scholar.google.com/citations?user=vJmb...,32.0,NaN,e136cc0f-5467-4349-a99c-1fe895d85ae3,NaN
3,63a3fa46a824643b7283a44a,sort_P001,4,user01,Hang Li,https://www.linkedin.com/in/hang-li-84aa6314/,he,https://scholar.google.com/citations?user=nTl5...,74.0,Tie-Yan Liu,...,https://scholar.google.com/citations?user=Nh83...,78.0,Jun Xu,https://gsai.ruc.edu.cn/addons/teacher/index/i...,he,https://scholar.google.com/citations?user=su14...,35.0,NaN,630b960b-e8f7-49e7-bf63-97f93ed3e524,NaN
4,63a3fbcba824643b7283a44e,sort_P001,5,user01,Gabriella Kazai,https://irsg.bcs.org/informer/author/gkazai/,she,https://scholar.google.fi/citations?user=0U23q...,35.0,Keith van Rijsbergen,...,NaN,NaN,Mounia Lalmas,https://www.dcs.gla.ac.uk/~mounia/,she,https://scholar.google.fi/citations?user=wAr9G...,53.0,NaN,b39aeff8-6e4e-40f7-95a2-af493f1c3b38,NaN

In [3]:
df_t = pd.read_csv('fw1pilot_t.csv')
df_t.head()

,_id,topicid,docid,usrid,comments,noentity,document_id,twitter_url1,num_followers1,twitter_url2,num_followers2,twitter_url3,num_followers3
0,63a4ff42a824643b7283a47a,sort_P003,1,user01,NaN,NO.REL.ENTITY,4927574a-db2f-489f-a10a-7f2bb876c868,NaN,NaN,NaN,NaN,NaN,NaN
1,63a4ff56a824643b7283a47e,sort_P003,2,user01,NaN,NO.REL.ENTITY,08457a8d-6295-41c7-be6d-b13509231585,NaN,NaN,NaN,NaN,NaN,NaN
2,63a4ff7ba824643b7283a482,sort_P003,3,user01,NaN,NO.REL.ENTITY,5904d3b8-ad91-4a51-b881-e63129e6fb16,NaN,NaN,NaN,NaN,NaN,NaN
3,63a4ffaca824643b7283a486,sort_P003,4,user01,NaN,NO.REL.ENTITY,5f240714-2244-476f-9cc4-b5f43d983f04,NaN,NaN,NaN,NaN,NaN,NaN
4,63a50026a824643b7283a48a,sort_P003,5,user01,NaN,NO.REL.ENTITY,4df4c201-ef38-46aa-95c0-c3bc4a9d25ca,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_y = pd.read_csv('fw1pilot_y.csv')
df_y.head()

,_id,topicid,docid,usrid,comments,noentity,document_id,youtube_url1,num_subscribers1,youtube_url2,num_subscribers2,youtube_url3,num_subscribers3
0,63a50f9ea824643b7283a68e,sort_P004,1,user01,NaN,NO.REL.ENTITY,94a4cd6c-9c79-441d-931e-da073f12a91a,NaN,NaN,NaN,NaN,NaN,NaN
1,63a50fe6a824643b7283a692,sort_P004,2,user01,NaN,NO.REL.ENTITY,5fb4e12c-d912-41e0-a55f-b6bde66343b9,NaN,NaN,NaN,NaN,NaN,NaN
2,63a51110a824643b7283a696,sort_P004,3,user01,NaN,NaN,eacabef3-caa0-49d8-a037-4c1b869502ec,https://youtu.be/60g72d4Nqss,NaN,NaN,NaN,NaN,NaN
3,63a512f5a824643b7283a69a,sort_P004,4,user01,NaN,NaN,eaafd7f5-6503-453e-8e8d-7df818c1e07c,https://youtu.be/-GTz0edlA2c,786K,https://youtu.be/juaWZluqC6I,786K,https://youtu.be/7Qy6yFd5Xs0,78.6K
4,63a513aaa824643b7283a69e,sort_P004,5,user01,tutorials,NO.REL.ENTITY,8e50058a-8d26-4231-a449-a78889c60947,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_m = pd.read_csv('fw1pilot_m.csv')
df_m.head()

,_id,topicid,docid,usrid,movie_name1,imdb_url1,num_reviews1,country1,movie_name2,imdb_url2,num_reviews2,country2,movie_name3,imdb_url3,num_reviews3,country3,comments,document_id,noentity
0,63a405efa824643b7283a461,sort_P002,1,user01,No Time to Die,https://www.imdb.com/title/tt2382320/,399K,"United Kingdom,United States",Skyfall,https://www.imdb.com/title/tt1074638/,698K,"United Kingdom,United States",NaN,NaN,NaN,NaN,NaN,9143af85-549a-47ca-a906-020a71399b44,NaN
1,63a4fe6ba824643b7283a471,sort_P002,2,user01,Casino Royale,https://www.imdb.com/title/tt0061452/,31K,"United Kingdom,United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f4b565f2-4064-4c56-af16-9b870624d109,NaN
2,63a4fee7a824643b7283a475,sort_P002,3,user01,No Time to Die,https://www.imdb.com/title/tt2382320/,399K,"United Kingdom,United States",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b99c0839-a83d-4324-9f56-407d8cdb585a,NaN
3,63a7fdc9a824641f5d86fdd9,sort_P002,4,user01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a94388d4-d430-44e4-a128-e7bb2e21c290,NO.REL.ENTITY
4,63a7fde8a824641f5d86fddd,sort_P002,5,user01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,multitopic,e7c371e6-c74b-4237-9bab-2be447873257,NO.REL.ENTITY

In [6]:
doc_rel_map = {
    'topicid':[],
    'document_id':[],
    'relevance':[]
}

In [7]:
def get_doc_rel(df):
    entity_map = {}
    topic_id = df['topicid'].values[0]
    doc_id = df['document_id'].values[0]
    for idx, rec in df.iterrows():
        #print(rec['noentity'])
        if not pd.isna(rec['noentity']):
            #print(idx)
            continue
            
        user = rec['usrid']
        if 'bio_url1' in df.columns:
            e1 = rec['bio_url1']
            e2 = rec['bio_url2']
            e3 = rec['bio_url3']
        elif 'twitter_url1' in df.columns:
            e1 = rec['twitter_url1']
            e2 = rec['twitter_url2']
            e3 = rec['twitter_url3']
        elif 'youtube_url1' in df.columns:
            e1 = rec['youtube_url1']
            e2 = rec['youtube_url2']
            e3 = rec['youtube_url3']
        elif 'imdb_url1' in df.columns:
            e1 = rec['imdb_url1']
            e2 = rec['imdb_url2']
            e3 = rec['imdb_url3']
        
        if not pd.isna(e1):
            if e1 not in entity_map:
                entity_map[e1] = [user]
            else:
                entity_map[e1].append(user)
        if not pd.isna(e2):
            if e2 not in entity_map:
                entity_map[e2] = [user]
            else:
                entity_map[e2].append(user)
        if not pd.isna(e3):
            if e3 not in entity_map:
                entity_map[e3] = [user]
            else:
                entity_map[e3].append(user)
    rel = 0
    #print(scholar_map)
    for entity, usr_list in entity_map.items():
        if len(usr_list) > rel:
            rel = len(usr_list)
    doc_rel_map['topicid'].append(topic_id)
    doc_rel_map['document_id'].append(doc_id)
    doc_rel_map['relevance'].append('L'+str(rel))
    return df

In [8]:
df_r.groupby(['topicid','document_id']).apply(get_doc_rel)
df_m.groupby(['topicid','document_id']).apply(get_doc_rel)
df_t.groupby(['topicid','document_id']).apply(get_doc_rel)
df_y.groupby(['topicid','document_id']).apply(get_doc_rel)

,_id,topicid,docid,usrid,comments,noentity,document_id,youtube_url1,num_subscribers1,youtube_url2,num_subscribers2,youtube_url3,num_subscribers3
0,63a50f9ea824643b7283a68e,sort_P004,1,user01,NaN,NO.REL.ENTITY,94a4cd6c-9c79-441d-931e-da073f12a91a,NaN,NaN,NaN,NaN,NaN,NaN
1,63a50fe6a824643b7283a692,sort_P004,2,user01,NaN,NO.REL.ENTITY,5fb4e12c-d912-41e0-a55f-b6bde66343b9,NaN,NaN,NaN,NaN,NaN,NaN
2,63a51110a824643b7283a696,sort_P004,3,user01,NaN,NaN,eacabef3-caa0-49d8-a037-4c1b869502ec,https://youtu.be/60g72d4Nqss,NaN,NaN,NaN,NaN,NaN
3,63a512f5a824643b7283a69a,sort_P004,4,user01,NaN,NaN,eaafd7f5-6503-453e-8e8d-7df818c1e07c,https://youtu.be/-GTz0edlA2c,786K,https://youtu.be/juaWZluqC6I,786K,https://youtu.be/7Qy6yFd5Xs0,78.6K
4,63a513aaa824643b7283a69e,sort_P004,5,user01,tutorials,NO.REL.ENTITY,8e50058a-8d26-4231-a449-a78889c60947,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,63b24bcda824641f5d87046e,sort_P004,78,user02,NaN,NO.REL.ENTITY,f7496095-e9c7-48fa-b5d5-3eec2dfcbb85,NaN,NaN,NaN,NaN,NaN,NaN
160,63b24beca824641f5d870472,sort_P004,79,user02,A non-executable JavaScript,NO.REL.ENTITY,e6ed1187-142f-460d-8379-352be10fb098,NaN,NaN,NaN,NaN,NaN,NaN
161,63b2514da824641f5d870476,sort_P004,80,user02,NaN,NO.REL.ENTITY,16286439-946c-4798-a60f-d3f2a2275c55,NaN,NaN,NaN,NaN,NaN,NaN
162,63b2516da824641f5d87047a,sort_P004,81,user02,NaN,NO.REL.ENTITY,e9a40836-97aa-4ff3-a498-4e76a1ad61a7,NaN,NaN,NaN,NaN,NaN,NaN
163,63b2525aa824641f5d87047e,sort_P004,82,user02,NaN,NO.REL.ENTITY,d0daf0d5-3eec-4ef8-b8f8-e83ee8eb6392,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
res= pd.DataFrame(doc_rel_map)

In [10]:
res

       topicid                           document_id  relevance
0    sort_P001  025eae77-6dd4-43f5-8981-af9dfbe77be4          0
1    sort_P001  03fcec7a-9666-41f0-9419-6f4bdd7b95c3          2
2    sort_P001  042c9563-656e-4b84-b450-01f120f3f33c          0
3    sort_P001  05f94ffd-84e6-496b-99f0-c6a1f85fd9cd          0
4    sort_P001  0700e161-ec71-41f2-ad2c-9a5fde872f74          0
..         ...                                   ...        ...
388  sort_P004  eaafd7f5-6503-453e-8e8d-7df818c1e07c          1
389  sort_P004  eacabef3-caa0-49d8-a037-4c1b869502ec          1
390  sort_P004  ecc825f8-d8f4-4a1a-8c04-a64da4cb77b9          0
391  sort_P004  f51f67ee-ff18-4bfd-983a-168bd1895e3a          0
392  sort_P004  f7496095-e9c7-48fa-b5d5-3eec2dfcbb85          0

[393 rows x 3 columns]

In [11]:
res.to_csv('fairweb1.qrels', sep=' ', index=False, header=False)